/* Slate color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--pico-text-selection-color: rgba(129, 145, 181, 0.25);
	--pico-primary: #5d6b89;
	--pico-primary-background: #525f7a;
	--pico-primary-underline: rgba(93, 107, 137, 0.5);
	--pico-primary-hover: #48536b;
	--pico-primary-hover-background: #48536b;
	--pico-primary-focus: rgba(129, 145, 181, 0.25);
	--pico-primary-inverse: #fff;
}

/* Slate color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--pico-text-selection-color: rgba(144, 158, 190, 0.1875);
		--pico-primary: #909ebe;
		--pico-primary-background: #525f7a;
		--pico-primary-underline: rgba(144, 158, 190, 0.5);
		--pico-primary-hover: #b0b9d0;
		--pico-primary-hover-background: #5d6b89;
		--pico-primary-focus: rgba(144, 158, 190, 0.25);
		--pico-primary-inverse: #fff;
	}
}

/* Slate color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
	--pico-text-selection-color: rgba(144, 158, 190, 0.1875);
	--pico-primary: #909ebe;
	--pico-primary-background: #525f7a;
	--pico-primary-underline: rgba(144, 158, 190, 0.5);
	--pico-primary-hover: #b0b9d0;
	--pico-primary-hover-background: #5d6b89;
	--pico-primary-focus: rgba(144, 158, 190, 0.25);
	--pico-primary-inverse: #fff;
}

:root {
	/* --font-size: 14px; */
	--pico-spacing: 0.4rem;
	--pico-form-element-spacing-vertical: 0.5rem;
	--pico-form-element-spacing-horizontal: 0.5rem;
	/*
	--pico-border-radius: 0.25rem;
	*/
}

body {
	overflow-x: hidden;
}
@media (min-width: 576px) {
	:root {
		--pico-font-size: 106.25%;
	}
}
@media (min-width: 768px) {
	:root {
		--pico-font-size: 112.5%;
	}
}
@media (min-width: 1024px) {
	:root {
		--pico-font-size: 118.75%;
	}
}
@media (min-width: 1280px) {
	:root {
		--pico-font-size: 125%;
	}
}
@media (min-width: 1536px) {
	:root {
		--pico-font-size: 131.25%;
	}
}
.justified-flex {
	gap: 0.4rem;
	display: flex;
	justify-content: space-between;
}
.justified-flex > div:first-child {
	flex: 1;
}
.hiddenWithMobile {
	display: block;
}
@media (max-width: 450px) {
	.hiddenWithMobile {
		display: none;
	}
}
